#vantaBirds{
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

body {
    text-align: center;
    color: white;
}
.btn-primary-outline{
    background-color: transparent;
    border-color: #ccc;
    color: white;
}

.container {
    justify-content: center;
    align-items: center;
}

.fa-facebook{
    color:white;
}

.fa-linkedin{
    color:white;
}

.fa-twitter{
    color:white;
}

.fa-instagram{
    color:white;
}

.fa-envelope-o{
    color:white;
}

.fa-github{
    color:white;
}